
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}



.highlight{
    font-weight: bold;
    background-color: yellow;
    border-left: 4px solid #ff0000;
}

#some-id {
    text-decoration: underline;
    color: red;
    font-style: italic;
    border-color: #ff0000;
}

.link:hover{
        color: #ff0000;
}

.link:visited{
    
}